<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary"> Student 1: Bahaa Hani 202009254 </ion-label> <br>
    </ion-item>

    <ion-item>
      <ion-label color="primary"> Student 2: Maryam Kamashki 202002021 </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="newMember.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Age </ion-label>
      <ion-input type="number" [(ngModel)]="newMember.age" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-select [(ngModel)]="newMember.gender" required>
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="newMember.phone" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Diet Type
      </ion-label>
      <ion-select [(ngModel)]="DT" required>
        <ion-select-option *ngFor="let type of dietType; let i = index" value="{{i}}">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Subscription Plan</ion-label>
      <ion-select [(ngModel)]="SP" required>
        <ion-select-option *ngFor="let plan of subPlan; let i = index" value="{{i}}">{{plan.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="add()">
      <ion-icon name ='add' slot="start"></ion-icon>
      Add Member
    </ion-button>
  </ion-list>
</ion-content>
