<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- route to members page wrap with ion-item & add appropraite description-->
  <ion-item button routerLink="/members">
    <ion-icon name="people"></ion-icon>
    <ion-label> Members</ion-label>
  </ion-item>
   
  <!-- route to activity page -->
  <ion-item button routerLink="/activity">
    <ion-icon name="calendar"></ion-icon>
    <ion-label> Activity</ion-label>
  </ion-item>
</ion-content>
