<ion-header>
  <ion-toolbar color="secondary">
    <!-- back button to go home (pervious page) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- container -->
  <ion-list *ngIf="!edit">
    <!-- member detail -->
    <ion-item>
      <ion-label>Name: {{ DataSrv.member[index].name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Age: {{ DataSrv.member[index].age }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Gender: {{ DataSrv.member[index].gender }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Phone: {{ DataSrv.member[index].phone }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Diet Type: {{ DataSrv.member[index].diet }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Subscription Plan: {{ DataSrv.member[index].subPlan }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Total Fees: {{ DataSrv.member[index].TotalFees }}</ion-label>
    </ion-item>

    <!-- button to edit member details -->
    <ion-button *ngIf="!edit" (click)="edit=!edit" expand="full" color="secondary">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      Edit Member
    </ion-button>

    <!-- button to select meals -->
    <ion-button *ngIf="!edit" [routerLink]="['/meal']" expand="full" color="secondary">
      <ion-icon name="fast-food-outline" slot="start"></ion-icon>
      Select Meals
    </ion-button>
  </ion-list>

  <!-- show if edit button clicked -->
  <ion-list *ngIf="edit">
    <!-- form -->
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input type="text" [(ngModel)]="DataSrv.member[index].name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Age:</ion-label>
      <ion-input type="number" [(ngModel)]="DataSrv.member[index].age" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender:</ion-label>
      <ion-select [(ngModel)]="DataSrv.member[index].gender" required>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Phone Number:</ion-label>
      <ion-input type="tel" [(ngModel)]="DataSrv.member[index].phone" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Total Fees</ion-label>
      <ion-input type="number" [(ngModel)]="TF" required></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label>Diet Type:</ion-label>
      <ion-select [(ngModel)]="DT">
        <ion-select-option *ngFor="let type of dietType; let i = index" value="{{i}}">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Subscription Plan:</ion-label>
      <ion-select [(ngModel)]="SP">
        <ion-select-option *ngFor="let plan of subPlan; let i = index" value="{{i}}">{{plan.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    

    <!-- button to add new member -->
    <ion-button *ngIf="edit" (click)="edit=!edit" expand="full" color="secondary" (click)="save()">
      save
    </ion-button>

    <!-- button to delete member -->
    <ion-button *ngIf="edit" (click)="edit=!edit" expand="full" color="danger" (click)="dlt()">
      delete
    </ion-button>
  </ion-list>

</ion-content>
