<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>

    <!-- button to go to add new meal page -->
    <ion-buttons slot="end">
      <ion-button routerLink="/meal">Add New Meal</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- container -->
  <ion-list>
    <!-- student names and ids -->
    <ion-item>
      <ion-label color="primary"> Student 1: Bahaa Hani 202009254 </ion-label> <br>
    </ion-item>
  
    <ion-item>
      <ion-label color="primary"> Student 2: Maryam Kamashki 202002021 </ion-label>
    </ion-item>
  </ion-list>

  <!-- another container to display all members in the list -->
  <ion-list *ngFor="let m of DataSrv.members | async; let i = index">
    <ion-item routerLink="/detail/{{i}}">
      <ion-label>Name: {{ m.name }}</ion-label>
    </ion-item>
  </ion-list>

  
  <!-- Button to go to Add New Member page-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" routerLink="/add">
      <ion-icon name ='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
