<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-button fill="clear" (click)="fb.signOut()" slot="end">Sign out</ion-button>
    <ion-title>viewActivity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar (ionInput)="getAct($event)"></ion-searchbar>

    <ion-card *ngFor="let a of myactivities">
    <ion-card-content style="background-color: bisque;" >
       <ion-input readonly="true" label="Title:" value="{{a.title}}"></ion-input>
       <ion-input readonly="true" label="Capacity:" value="{{a.cap}}"></ion-input>
       <ion-input readonly="true" label="Date:" value="{{a.date}}"></ion-input>
       <ion-input readonly="true" label="Duration:" value="{{a.duration}}"></ion-input>
       <ion-input readonly="true" label="Venue:" value="{{a.venue}}" ></ion-input>
       <ion-input readonly="true" label="Topic:" value="{{a.topic}}"></ion-input>
       <ion-input readonly="true" label="#participants:" value="{{a.participants.length}}" slot="end"></ion-input>
       <ion-button color="success" slot="end" (click)="join(a)">join</ion-button>
    <ion-button color="success" slot="end" routerLink="/registered/{{a.id}}" >view registered</ion-button>
    </ion-card-content >
   </ion-card>
</ion-content>
