<ion-header>
  <ion-toolbar>
    <!-- back button to go home (pervious page) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  
    <ion-title>
      Add New Meal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- form -->
  <form [formGroup]="mealForm" (ngSubmit)="addMeal()">
    <!-- title -->
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [(ngModel)]="title" formControlName="til"></ion-input>
    </ion-item>

    <!-- image url -->
    <ion-item>
      <ion-label>Image URL</ion-label>
      <ion-input [(ngModel)]="imageUrl" formControlName="img"></ion-input>
    </ion-item>

    <!-- ingredients -->
    <ion-list>
      <ion-item>
        <ion-label>Ingredients (Use comma to separate each ingredient)</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-textarea [(ngModel)]="ingredients" formControlName="ing"></ion-textarea>
      </ion-item>
    </ion-list>

    <!-- diet type -->
    <ion-item>
      <ion-label>Diet Type</ion-label>
      <ion-select [(ngModel)]="dietType" formControlName="diet">
        <ion-select-option value="Vegetarian">Vegetarian</ion-select-option>
        <ion-select-option value="Vegan">Vegan</ion-select-option>
        <ion-select-option value="Non-vegetarian">Non-vegetarian</ion-select-option>
      </ion-select>
    </ion-item>
    
    <!-- calories -->
    <ion-item>
      <ion-label>Calories</ion-label>
      <ion-input [(ngModel)]="calories" type="number" formControlName="cal"></ion-input>
    </ion-item>

    <!-- buttons to add or view or hide meals -->
    <ion-button expand="block" type="submit" [disabled]="!mealForm.valid">Add Meal</ion-button>
    <ion-button expand="block" (click)="show = !show;">View/Hide Meals</ion-button>
  </form>

  <!-- viewing meals -->
  <!-- <ion-list *ngIf="show">
    <ion-label>Meals Saved:</ion-label>
    <ion-list *ngFor="let m of newMeal; let i = index"> -->
        <!-- list of clickable meals -->
        <!-- <ion-buttons>
          <ion-button (click)="viewMeal(i)" color="primary">id : {{ m.id }}</ion-button>
        </ion-buttons>
    </ion-list>
  </ion-list> -->

  <!-- viewing meals -->
<ion-list *ngIf="show">
  <ion-label>Meals Saved:</ion-label>
  <ion-list *ngFor="let m of newMeal; let i = index">
    <!-- list of clickable meals -->
    <ion-buttons>
      <ion-button (click)="viewMealcard(i)" color="primary">id : {{ m.id }}</ion-button>
    </ion-buttons>
  </ion-list>
</ion-list>

<!-- selected meal details -->
<ion-card *ngIf="selectedMeal && show">
  <ion-card-header>
    <ion-card-title>{{ selectedMeal.title }}  {{ selectedMeal.id }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3">ID:</ion-col>
        <ion-col size="9">{{ selectedMeal.id }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">Title:</ion-col>
        <ion-col size="9">{{ selectedMeal.title }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">Image:</ion-col>
        <ion-col size="9"><img [src]="selectedMeal.imageUrl" /></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">Ingredients:</ion-col>
        <ion-item *ngFor="let s of selectedMeal.ingredients; let i = index">
          <ion-row size="9">{{ i+1 }} ) {{ s }}</ion-row>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col size="3">Diet Type:</ion-col>
        <ion-col size="9">{{ selectedMeal.dietType }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">Calories:</ion-col>
        <ion-col size="9">{{ selectedMeal.calories }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>
