<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Meals</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="insert_meal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="insert_meal" #insert_modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="close_insert()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Meal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Title: </ion-label>
          <ion-input [(ngModel)]="newMeal.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Image: </ion-label>
          <ion-input [(ngModel)]="newMeal.image"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Ingredients: </ion-label>
          <ion-input [(ngModel)]="newMeal.ingredients"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Diet: </ion-label>
          <ion-select [(ngModel)]="newMeal.diet">
            <ion-select-option>Normal</ion-select-option>
            <ion-select-option>Low Carbs</ion-select-option>
            <ion-select-option>Low Fat</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Calories: </ion-label>
          <ion-input type="number" [(ngModel)]="newMeal.calories"></ion-input>
        </ion-item>
        <br />
        <ion-button expand="block" (click)="add_meal()">Add Meal</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-list>
    <ion-card *ngFor="let m of dataSrv.meals">
      <ion-card-header>
        <img src="/assets/{{ m.image }}" />
        <ion-card-subtitle>{{ m.diet }}</ion-card-subtitle>
        <ion-card-title>{{ m.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content
        >Ingredients: {{ m.ingredients }} <br />
        Calories: {{ m.calories }} <br />
        <ion-select
          placeholder="Add to Member"
          [(ngModel)]="target_member_idx"
          (ionDismiss)="member_add_meal(m)"
        >
          <span *ngFor="let member of dataSrv.members; let i = index">
            <ion-select-option value="{{ i }}" *ngIf="member.diet == m.diet"
              >{{ member.name }}</ion-select-option
            ></span
          >
        </ion-select>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
