<ion-header [translucent]="true">
  <!-- back button -->
  <ion-item>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-item>
  <!-- page title -->
  <ion-toolbar color="{{ DataSrv.Color }}" align="center">
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-buttons slot="end">
      <!-- route to Home page -->
      <ion-button color="{{ DataSrv.Color }}" routerLink="/home" routerDirection="back">Home</ion-button>
      <!-- route to Brand page -->
      <ion-button color="{{ DataSrv.Color }}" routerLink="/brand" routerDirection="back">Brand</ion-button>
      <!-- route to Settings page -->
      <ion-button color="{{ DataSrv.Color }}" routerLink="/settings" routerDirection="back">Settings</ion-button>
    </ion-buttons>
  </ion-item>

  <!-- laptop details -->
  <ion-list lines="none">
    <!-- image and brand name -->
    <img src="/assets/img/{{ DataSrv.List[DataSrv.index].Image }}"/>
    <ion-list-header color="{{DataSrv.Color}}"><h1>{{DataSrv.List[DataSrv.index].Brand}}</h1></ion-list-header>

    <!-- other details -->
    <ion-item>
      <ion-label slot="start">CPU</ion-label>
      <ion-label slot="end">{{DataSrv.List[DataSrv.index].CPU}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label slot="start">GPU</ion-label>
      <ion-label slot="end">{{DataSrv.List[DataSrv.index].GPU}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label slot="start">RAM</ion-label>
      <ion-label slot="end">{{DataSrv.List[DataSrv.index].RAM}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label slot="start">Screen</ion-label>
      <ion-label slot="end">{{DataSrv.List[DataSrv.index].Screen}}</ion-label>
    </ion-item>

    <!-- close button to Brand page -->
    <ion-button color="{{ DataSrv.Color }}" expand="block" fill="clear" routerLink="/brand">Close</ion-button>
  </ion-list>
  <!-- end of laptop details -->
</ion-content>