<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-back-button slot="start">Back</ion-back-button>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="actvForm" (ngSubmit)="AddActivities(actvForm.value)">
    <ion-item>
      <ion-label position="floating">Title:</ion-label>
      <ion-input formControlName="title" required></ion-input>
      <div *ngIf="actvForm.get('title')?.invalid && actvForm.get('title')?.touched">
        <p style="color: red;">Invalid Title</p>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Capacity:</ion-label>
      <ion-input formControlName="cap" required></ion-input>
      <div *ngIf="actvForm.get('cap')?.invalid && actvForm.get('cap')?.touched">
        <p style="color: red;">Invalid Capacity</p>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating" slot="start">Date:</ion-label>
      <ion-input type="date" formControlName="date" required slot="end"></ion-input>
      <div *ngIf="actvForm.get('date')?.invalid && actvForm.get('date')?.touched">
        <p style="color: red;">Filed is required.</p>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Duration:</ion-label>
      <ion-input formControlName="duration" required></ion-input>
      <div *ngIf="actvForm.get('duration')?.invalid && actvForm.get('duration')?.touched">
        <p style="color: red;">Invalid Duration</p>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Venue:</ion-label>
      <ion-input formControlName="venue" required></ion-input>
      <div *ngIf="actvForm.get('venue')?.invalid && actvForm.get('venue')?.touched">
        <p style="color: red;">Invalid Venue</p>
      </div>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">#Participants:</ion-label>
      <ion-input type="number" formControlName="participants" readonly="true" value="0" ></ion-input>
      <div *ngIf="actvForm.get('participants')?.invalid && actvForm.get('participants')?.touched">
        <p style="color: red;">Filed is required.</p>
      </div>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating" slot="start">Topic:</ion-label>
      <ion-radio-group formControlName="topic" required slot="end">
        <ion-radio value="Cultural">
          <ion-label>Cultural</ion-label>
        </ion-radio>
        <ion-radio value="Scientific">
          <ion-label>Scientific</ion-label>
        </ion-radio>
        <ion-radio value="Competition">
          <ion-label>Competition</ion-label>
        </ion-radio>
        <ion-radio value="Organization">
          <ion-label>Organization</ion-label>
        </ion-radio>
        <ion-radio value="General">
          <ion-label>General</ion-label>
        </ion-radio>
      </ion-radio-group>
      <div *ngIf="actvForm.get('topic')?.invalid && actvForm.get('topic')?.touched">
        <p style="color: red;">Filed is required.</p>
      </div>
    </ion-item>

    <ion-button type="submit" [disabled]="!actvForm.valid" expand="full" full color="success" style="margin-top: 20px;" >Add</ion-button>
  </form>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let a of fb.activities$ | async">
     <ion-item>
      <ion-label>
       <ion-input label="Title:" value="{{a.title}}" [(ngModel)]="a.title"></ion-input>
       <ion-input label="Capacity:" value="{{a.cap}}" [(ngModel)]="a.cap"></ion-input>
       <ion-input label="Date:" value="{{a.date}}" [(ngModel)]="a.date"></ion-input>
       <ion-input label="Duration:" value="{{a.duration}}" [(ngModel)]="a.duration"></ion-input>
       <ion-input label="Venue:" value="{{a.venue}}" [(ngModel)]="a.venue"></ion-input>
       <ion-input label="#Participants:" value="{{a.participants}}" [(ngModel)]="a.participants"></ion-input>
       <ion-input label="Topic:" value="{{a.topic}}" [(ngModel)]="a.topic"></ion-input>
       <ion-button slot="end" (click)="UpdateActivities(a)">Update</ion-button>
       <ion-button slot="end" color="danger" (click)="DeleteActivities(a)">Delete</ion-button>
      </ion-label>
     </ion-item>
    </ion-item-sliding>
   </ion-list> -->
  
</ion-content>
