<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>name: {{ DataSrv.member[2].name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>age: {{ DataSrv.member[2].age }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>gender: {{ DataSrv.member[2].gender }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>phone: {{ DataSrv.member[2].phone }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>diet: {{ DataSrv.member[2].diet }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>subscription plan: {{ DataSrv.member[2].subPlan }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>total fees: {{ DataSrv.member[2].TotalFees }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
