<ion-header [translucent]="true">
  <!-- back button -->
  <ion-item>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-item>
  <!-- header title -->
  <ion-toolbar color="{{ DataSrv.Color }}" align="center">
    <ion-title>Brand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-buttons slot="end">
      <!-- route to Home page -->
      <ion-button color="{{ DataSrv.Color }}" routerLink="/home" routerDirection="back">Home</ion-button>
      <!-- route to Settings page -->
      <ion-button color="{{ DataSrv.Color }}" routerLink="/settings" routerDirection="back">Settings</ion-button>
    </ion-buttons>
  </ion-item>

  <!-- card -->
  <ion-card *ngFor="let laptop of DataSrv.List, let i=index">
    <!-- card header -->
    <ion-card-header>
      <ion-card-title>
        <!-- ion-item so that we can add a thumbnail for the image -->
        <ion-item color="{{ DataSrv.Color }}">
          <!-- brand name -->
          <ion-label>
            {{ laptop.Brand }}
          </ion-label>
          <!-- image -->
          <ion-thumbnail slot="end">
            <img src="/assets/img/{{ laptop.Image }}">
          </ion-thumbnail>
        </ion-item>
        <!-- end of ion-item -->
      </ion-card-title>
    </ion-card-header>
    <!-- end of card header -->

    <!-- card body -->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            CPU
          </ion-col>
          <ion-col>
            {{ laptop.CPU }}
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            RAM
          </ion-col>
          <ion-col>
            {{ laptop.RAM }}
          </ion-col>
        </ion-row>

        <!-- button to view laptop in details -->
        <ion-item>
          <ion-button color="{{ DataSrv.Color }}" slot="end" routerLink="/detail/{{ i }}">View details</ion-button>
        </ion-item>
      </ion-grid>
    </ion-card-content>
    <!-- end of card body -->
  </ion-card>
  <!-- end of card -->
</ion-content>
