<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Form -->
<form [formGroup]="activityForm" (ngSubmit)="Register(activityForm.value)">
  <!-- Title -->
    <ion-item>
      <ion-input 
        label="Title: " 
        formControlName="Title" 
        required>
      </ion-input>
    </ion-item>
 
    <ion-item 
      *ngIf=" activityForm.controls['Title'].hasError('required') && activityForm.controls['Title'].touched">
      <ion-text color="danger">Sorry, this field is required!</ion-text>
    </ion-item>

  <!-- Date -->
  <ion-item>
    <ion-label>Date:</ion-label>  
  </ion-item>

  <ion-item>
    <ion-datetime 
      displayFormat="h:mm A" 
      pickerFormat ="h mm A" 
      formControlName="Date" 
      required>
    </ion-datetime>
  </ion-item>

  <ion-item 
    *ngIf=" activityForm.controls['Date'].hasError('Date') &&  activityForm.controls['Date'].touched">
    <ion-text color="danger">Sorry, this field is required!</ion-text>
  </ion-item>

  <!-- duration -->
  <ion-item>
    <ion-input 
      label="duration: " 
      formControlName="duration" 
      required></ion-input>
  </ion-item>

  <ion-item 
    *ngIf=" activityForm.controls['duration'].hasError('required') &&  activityForm.controls['duration'].touched">
    <ion-text color="danger">Sorry, this field is required!</ion-text>
  </ion-item>

  <!-- venue -->
  <ion-item>
    <ion-input 
      label="venue: " 
      formControlName="venue" 
      required>
    </ion-input>
  </ion-item>

  <ion-item 
    *ngIf=" activityForm.controls['venue'].hasError('required') &&  activityForm.controls['venue'].touched">
    <ion-text color="danger">Sorry, this field is required!</ion-text>
  </ion-item>

  <!-- NumOfParticipants -->
  <ion-item>
    <ion-input 
      label="Number of Participants: " 
      formControlName="NumParticipants" 
      required>
    </ion-input>
  </ion-item>

  <ion-item 
    *ngIf=" activityForm.controls['NumParticipants'].hasError('required') &&  activityForm.controls['NumParticipants'].touched">
    <ion-text color="danger">Sorry, this field is required!</ion-text>
  </ion-item>
         
  <!-- Topic -->
    <ion-item>
      <ion-select 
        label="Topic" 
        placeholder="Select Topic" 
        interface="action-sheet" 
        formControlName="Topic" 
        required>
         <!-- options from array topics -->
        <ion-select-option *ngFor="let topic of topics" [value]="topic">{{topic}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item 
      *ngIf=" activityForm.controls['Topic'].hasError('required') &&  activityForm.controls['Topic'].touched">
      <ion-text color="danger">Sorry, this field is required!</ion-text>
    </ion-item>
  
    <ion-button type="submit" expand="block">Add</ion-button>
</form>


<!-- Display activities -->
</ion-content>
